* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.box_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px auto;
}

/* --------------------------------------------------- */

button {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 7px 14px;
    border-radius: 20px;
    border: 1px white solid;
    margin: 10px 10px;
    cursor: pointer;
}

.box {
    height: 50px;
    width: 50px;
    border: 2px white solid;
    background-color: #fcdfd5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.width_1 {
    width: 550px;
}

.width_2 {
    width: 500px;
}

.width_3 {
    width: 400px;
}

.blue {
    background-color: rgb(159, 181, 255);
}

/* ------------------------------------------ */

.level_1 {
    background-color: #b2cf6a;
    box-shadow: 3px 2px #7ea716;
}

.level_2 {
    background-color: #ffdd75;
    box-shadow: 3px 2px rgb(245, 200, 0);
}

.level_3 {
    background-color: rgb(255, 129, 129);
    box-shadow: 3px 2px red;
}